# backend
project-backend/dist
project-backend/logs
project-backend/node_modules/
project-backend/migration/

# db
project-db/.npmrc
project-db/node_modules/
project-db/migration/
project-db/dist/

# frontend
# frontend : Logs
project-frontend/logs

project-frontend/npm-debug.log*
project-frontend/yarn-debug.log*
project-frontend/yarn-error.log*
project-frontend/pnpm-debug.log*
project-frontend/lerna-debug.log*

project-frontend/node_modules/
project-frontend/dist/
project-frontend/dist-ssr
project-frontend/*.local

# frontend : Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
project-frontend/*.suo
project-frontend/*.ntvs*
project-frontend/*.njsproj
project-frontend/*.sln
project-frontend/*.sw?

# testing
project-testing/node_modules/

# env
.env
.env.*